
/**
 * Mixins
 */
icon(i)
    font-family: 'biz_icons'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    content: i

/**
 * Mixin - Font-weight
 */
font = 'Montserrat', sans-serif
light = 400
regular = 500
medium = 600
semibold = 700
bold = 800
/**
 * Mixin - Viewport
 */
viewport = 980px
gap = 20px
/**
 * Mixin - Responsive
 * @media (max-width screen-sm-min)
 * @media (max-width screen-md-min)
 * @media (max-width screen-lg-min)
 */
screen-xxs = 320px
// Small devices (phones, 568px and down)
screen-xs = 568px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px

$container
    width: viewport
    max-width: 'calc(100% - %s)' % gap
    margin-left: auto
    margin-right: auto

down = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAA8CAMAAACn4e/8AAAAJ1BMVEVMaXEsKCksKCksKCksKCksKCksKCksKCksKCksKCksKCksKCksKCnb5MadAAAADHRSTlMA0BAw8GCgsFDgQID7eeNVAAABHklEQVR42rXYy4rDMBBE0VZsxY/0/3/vDDhwGbyoDJW664azEUjqendu3X286ku9ju7elvrT7Kvnd4xnX82bcSkPn3j8GigYNB62MZomBqH4BgoGimvcFQwUz7grexOKYdzba7RQbKNHNVkKxj0QV8HQCIptgAyl+MaovYViG71XTaHYxqzSim9oxTeUciyfGMshDKGsywfGqg2t+IZWHMNXtOEr2jAUw9CKb2jFN7TiGnSuWtHGeupTrxU96St6zlf0lKe4hlb0DYThK9rwFW34ijAshXwDJWmgJA2UpIGSNFAMw3/hBv6yKQMlaaAkDZSkgZI0UJIGStJASRooSQMlaaAkDZS8gYIRUTaMLWCw72V/nFMwgs3RPWb9rx83C2skDpCzxwAAAABJRU5ErkJggg=='