<div class="instagram">
    <div class="instagram__header">
        <img class="instagram__ico" src="@img(instagram)" alt="Instagram" title="Instagram" />
        <h3 class="instagram__title">Instagram</h3>
    </div>
    <div class="instagram__main">
        <a href="#"><img src="https://fakeimg.pl/250/" /></a>
        <a href="#"><img src="https://fakeimg.pl/250/" /></a>
        <a href="#"><img src="https://fakeimg.pl/250/" /></a>
        <a href="#"><img src="https://fakeimg.pl/250/" /></a>
        <a href="#"><img src="https://fakeimg.pl/250/" /></a>
        <a href="#"><img src="https://fakeimg.pl/250/" /></a>
    </div>
</div>