<div class="ruler">
    <svg class="ruler__ico ico z-box"><use xlink:href="#z-box" /></svg>
    <span class="ruler__label">Entrega em todo Brasil</span>
</div>

<div class="ruler">
    <svg class="ruler__ico ico z-discount">
        <use xlink:href="#z-discount" />
    </svg>
    <span class="ruler__label">10% de Desconto em pagamentos à vista</span>
</div>

<div class="ruler">
    <svg class="ruler__ico ico z-map"><use xlink:href="#z-map" /></svg>
    <span class="ruler__label">Nossos Revendedores</span>
</div>
