.breadcrumb
    .catalog-product-view &
        background: #f9f9f9
        height: 50px
        display: flex
        justify-content: center
        align-items: center
        margin-top: -16px

        @media (max-width: 992px)
            display: none

    &__list
        @extend $container

    &__home .breadcrumb__link:before
        display: none

    &__link
        font-size: 12px
        font-weight: medium
        color: #c3c3c3

    &__sep
        color: #c3c3c3

        span
            display: none

        &:before
            content: ' | '

    &__last
        font-size: 12px
        font-weight: medium