@media (max-width: 992px)
    .categories
        &__show
            background: #fff
            color: color1_bg
            order: -1

        .a--0
            svg
                display: none

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                min-height: 48px
                justify-content: flex-start
                align-items: center

            &:after
                icon('\f054')
                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                font-size: 20px
                background: rgba(255, 255, 255, 0.1)
                transition: all 0.2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

@media (min-width: 993px)
    .categories
        margin-left: -(gap / 2)
        margin-right: -(gap / 2)
        background: #fff
        border-top: solid 1px #e6e6e7
        border-bottom: solid 1px #e6e6e7
        transition: all 0.2s ease

        .scrolling:not(.scrolling--up) &
            transform: translateY(-49px)

        .ul--0
            max-width: none
            justify-content: space-between

        .li--0
            flex: 0 0 auto

        .a--0
            color: color1_bg
            height: 50px
            line-height: 50px
            font-size: 13px
            font-weight: medium

            svg
                fill: color1_bg
