.head-phone
    display: none
    justify-content: center
    align-items: center
    font-size: 11px
    white-space: nowrap

    span
        margin: 0 3px

    strong
        font-size: 14px
        font-weight: semibold

    .ico
        width: 20px
        height: 20px

@media (min-width: 993px)
    .head-phone
        display: flex