.header
    width: 100%
    max-width: none

    &-container
        position: sticky
        top: 0
        background: #fff
        padding: 0 (gap / 2)

        &.up
            transform: translateY(-65px)

        .opc &
            background: #fff
            justify-content: center
            padding: 10px 0

            .logo
                flex: 0 0 auto

@media (min-width: 569px)
    .header
        position: relative
        z-index: 20
        background: #fff
        justify-content: space-between
        padding: (gap / 2) 0
        box-shadow: 800px 0 0 #fff, -800px 0 0 #fff

        &-container
            box-shadow: none
            background: none

@media (min-width: 993px)
    .header
        max-width: 90%