.logged
    display: none
    font-size: 15px
    font-weight: regular
    color: #999999

    body:not(.user-logged) &
        display: block

    strong
        color: color1_bg
        display: block