.myaccount
    &__header
        .ico
            width: 21px
            height: 20px

    &__content
        display: none !important

@media (min-width: 993px)
    .myaccount
        margin-right: 30px

        &__header
            white-space: nowrap

            .text
                display: block
                font-size: 12px
                font-weight: medium
                padding-left: 5px
