.mycart
    height: auto

    .header &__header
        a
            width: 50px
            height: 50px

        .ico
            width: 20px
            height: 20px

        .qtd
            width: 20px
            height: 20px
            padding: 0
            line-height: 20px
            background: #7bde4b

    &__content
        display: none !important