.products
    padding: 50px 0

    .cms-home & + &
        border-top: solid 1px #e6e6e7

    &__prices
        height: 80px
        display: none

        .user-logged &
            display: block

    &__variants
        height: 15px
        margin-bottom: 15px

        .configurable-swatch-list
            justify-content: center
            flex-flow: row nowrap
            margin: 0

            li
                padding: 0

            a
                display: inline-block
                box-shadow: none
                width: 15px
                overflow: hidden
                height: 15px

            img
                height: 15px
                width: 15px
                object-fit: cover
                border-radius: 50%

    &__list
        @extend $container

    &__title
        font-size: 18px
        font-weight: semibold
        letter-spacing: 5px
        text-transform: uppercase
        text-align: center

    &__case
        box-shadow: none
        text-align: center

    &__actions
        display: none

        .user-logged &
            display: block

        .btn-cart
            display: inline-block
            padding: 0
            font-size: 14px
            font-weight: semibold
            height: 45px
            width: 155px
            border-radius: 5px

    &__name
        display: block
        font-size: 14px
        font-weight: regular
        margin-bottom: 10px
        line-height: 16px
        height: 34px
        overflow: hidden

@media (min-width: 993px)
    .products
        .owl-pagination
            display: none

        &__case
            text-align: left

        &__variants
            .configurable-swatch-list
                justify-content: flex-start

        &__actions
            opacity: 0
            visibility: hidden
            transition: all 0.2s ease

            .products__case:hover &
                opacity: 1
                visibility: visible