.qty-wrapper
    background: #fff
    border: solid 1px #ebebeb
    border-radius: 5px

    input
        width: 100%
        background: none
        box-shadow: none
        border: 0
        font-size: 18px
        font-weight: semibold
        color: color2_bg
        height: 58px

    .input-box
        padding: 0 25px

    .bt-box
        position: static
        box-shadow: none
        border-radius: 0
        transform: none
        background: none

    .bt.plus, .bt.less
        position: absolute
        top: 0
        display: flex
        justify-content: center
        align-items: center
        width: 25px
        height: 100%
        text-indent: 0
        font-size: 18px
        font-weight: semibold
        color: #c4c4c4
        background: none

        &:before
            display: none

        span
            display: inline

    .plus
        right: 0

    .less
        left: 0