.related
    &__subtitle, &__add-checkbox
        display: none

@media (min-width: 569px)
    .related
        &__title
            font-size: 18px
            font-weight: semibold
            letter-spacing: 5px
            text-align: center
            text-transform: uppercase