.ruler
    display: flex
    justify-content: flex-start
    align-items: center
    height: 30px
    font-size: 12px
    font-weight: medium

    &__ico
        fill: #fff
        margin-right: 3px
        width: 20px
        height: 20px

#banner__ruler
    .banner
        &__wrapper
            column-count: 1
            display: flex
            justify-content: space-between

        &__item
            flex: 0 0 auto
            width: auto

    .slide__html
        justify-content: flex-start
        aling-items: center
