.sharing-links
    .list
        &:before
            color: #a7a7a7
            font-size: 12px
            font-weight: regular

        a
            background: none

            svg
                fill: #2c2829
                width: 23px
                height: 23px
